.brand {
  display: inline-flex;
  flex-grow: 0;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--primary);
}

.brand-icon {
  font-size: 1.75em;
  margin-right: 0.25em;
}